.gallery_item {
    background-color: #fff;
    width: 100px;
    height: 70px;
    margin-left: 5px;
    display: inline-block;
    float: left; /* 不加这句话，会产生闪烁*/
    border-style: solid;
    /*transform: translate(10px,10px);*/
    /*transition:all 0.5s*/
    border-radius: 4px !important;
    border-color: #9c9898;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.48);
    position: relative;
}

.gallery_group {
    float: left;
    padding-left: 50px;
    background-color: #110761;
    display: inline-block;
    border-radius: 5px;
    position: relative;
}

#galleryOuter {
    position: absolute;
    top: 400px;

}

.gallery {
    height: 100px;
    width: 100%;
    background-color: #9c9c9c;
}

* {
    margin: 0px;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    box-shadow: inset 0 0 6px rgb(0, 0, 0);
    background-color: #717171;
    width: 20px;
    height: 20px;
}

::-webkit-scrollbar-corner {
    background-color: #dedede
}

#zoomCtl {
    position: absolute;
    top: -12px;
    left: 50%;
    cursor: n-resize;
    height: 16px;
    width: 20px;
    padding: 0;
    background-color: #3110e861;
    border: 0;
    border-radius: 50% 50% 30% 30%;
    transform: scale(1);
    text-align: center;
}

.gallery_empty {
    border: dashed 2px #0C0C0C;
}

.gallery_group_title {
    position: absolute;
    left: 10px;
    top: 10px;
    writing-mode: vertical-rl;
    color: #fff;
}