/* Copyright 2013 Michael Bostock. All rights reserved. Do not copy. */

@import url(//fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i|PT+Sans|PT+Sans:b);


#orderRelationMatrix line {
    stroke: #fff;
}

#orderRelationMatrix text .mytextactive {
    fill: #000;
}
#orderRelationMatrix .row  .mytextactive{
    fill: #fff !important;
}
#orderRelationMatrix .column  .mytextactive{
    fill: #fff !important;
}
#orderRelationMatrix .row  .active{
    fill: #f00 !important;
}
#orderRelationMatrix .column  .active{
    fill: #f00 !important;
}

/*#orderRelationMatrix .ocks-org body {*/
    /*background: #fcfcfa;*/
    /*color: #333;*/
    /*font-family: "PT Serif", serif;*/
    /*margin: 1em auto 4em auto;*/
    /*position: relative;*/
    /*width: 960px;*/
/*}*/

/*#orderRelationMatrix .ocks-org header,*/
/*#orderRelationMatrix .ocks-org footer,*/
/*#orderRelationMatrix .ocks-org aside,*/
/*#orderRelationMatrix .ocks-org h1,*/
/*#orderRelationMatrix .ocks-org h2,*/
/*#orderRelationMatrix .ocks-org h3,*/
/*#orderRelationMatrix .ocks-org h4 {*/
    /*font-family: "PT Sans", sans-serif;*/
/*}*/

/*#orderRelationMatrix .ocks-org h1,*/
/*#orderRelationMatrix .ocks-org h2,*/
/*#orderRelationMatrix .ocks-org h3,*/
/*#orderRelationMatrix .ocks-org h4 {*/
    /*color: #000;*/
/*}*/

/*#orderRelationMatrix .ocks-org header,*/
/*#orderRelationMatrix .ocks-org footer {*/
    /*color: #636363;*/
/*}*/



/*.ocks-org header aside,*/
/*.ocks-org footer aside {*/
    /*float: left;*/
    /*margin-right: .5em;*/
/*}*/

/*.ocks-org header aside:after,*/
/*.ocks-org footer aside:after {*/
    /*padding-left: .5em;*/
    /*content: "/";*/
/*}*/

/*footer {*/
    /*margin-top: 8em;*/
/*}*/

/*h1 ~ aside {*/
    /*font-size: small;*/
    /*right: 0;*/
    /*position: absolute;*/
    /*width: 180px;*/
/*}*/

#orderRelationMatrix .cellBackground{
    fill: #eee;
}

#orderRelationMatrix {
    font: 10px sans-serif;
}

#orderRelationMatrix .axis path,#orderRelationMatrix .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

